VirtualAssistantCS/.vs/ProjectEvaluation/virtualassistant.metadata.v7.bin
VirtualAssistantCS/.vs/ProjectEvaluation/virtualassistant.projects.v7.bin
VirtualAssistantCS/.vs/ProjectEvaluation/virtualassistantcs.metadata.v7.bin
VirtualAssistantCS/.vs/ProjectEvaluation/virtualassistantcs.projects.v7.bin
VirtualAssistantCS/.vs/VirtualAssistant/DesignTimeBuild/.dtbcache.v2
VirtualAssistantCS/.vs/VirtualAssistant/FileContentIndex/4d7dd36e-9445-4026-8ee3-8f7fdcf70bf9.vsidx
VirtualAssistantCS/.vs/VirtualAssistantCS/DesignTimeBuild/.dtbcache.v2
VirtualAssistantCS/.vs/VirtualAssistantCS/FileContentIndex/d1407901-2a9c-4c1a-a1c1-12448e63ebf0.vsidx
VirtualAssistantCS/.vs/VirtualAssistantCS/v17/.futdcache.v2
VirtualAssistantCS/.vs/VirtualAssistantCS/v17/.suo
VirtualAssistantCS/VirtualAssistant/obj/project.assets.json
VirtualAssistantCS/VirtualAssistant/obj/project.nuget.cache
VirtualAssistantCS/VirtualAssistant/obj/VirtualAssistant.csproj.nuget.dgspec.json
VirtualAssistantCS/VirtualAssistant/obj/VirtualAssistant.csproj.nuget.g.props
VirtualAssistantCS/VirtualAssistant/obj/VirtualAssistant.csproj.nuget.g.targets
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/apphost.exe
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/VirtualAssistant.AssemblyInfo.cs
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/VirtualAssistant.AssemblyInfoInputs.cache
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/VirtualAssistant.assets.cache
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/VirtualAssistant.csproj.BuildWithSkipAnalyzers
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/VirtualAssistant.csproj.CoreCompileInputs.cache
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/VirtualAssistant.csproj.FileListAbsolute.txt
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/VirtualAssistant.dll
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/VirtualAssistant.GeneratedMSBuildEditorConfig.editorconfig
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/VirtualAssistant.genruntimeconfig.cache
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/VirtualAssistant.GlobalUsings.g.cs
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/VirtualAssistant.pdb
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/ref/VirtualAssistant.dll
VirtualAssistantCS/VirtualAssistant/obj/Debug/net6.0/refint/VirtualAssistant.dll
